#projetos {
    background: var(--gray-200);    
}
.projetos__grid {
    padding: 0 163px 144px 163px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);        
    place-content: center;
    gap: 24px;
}
.projetos__cards {             
    width: 330px;
    background: var(--gray-300);
    padding: 12px 12px 20px 12px;
    border: 1px solid transparent;
    border-radius: 10px;
    &:hover {
        border: 1px solid var(--gray-400);    
    }
    img {            
        width: 100%; 
        border-radius: 10px;
        margin-bottom: 10px;
        figcaption {                         
            h3 {                
                font: var(--titulo-sm);
            }
            p {
                font: var(--texto-sm)
            }
        }
    }
}